/* main file for root components styling */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.error {
    color: red;
    font-size: 14px;
    margin: 0 0 10px 0;
    display: none;
}

h2 {
    margin: 0;
}

label.form-label {
    margin-bottom: 0;
}

textarea.create {
    resize: none;
}

.custom-dropdown {
    width: 100%;
    text-align: left;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    background: transparent;
}